body {
	width: 100%;
	min-width: auto;
}

.company-socialsec-bigbox {
	width: 100%;
	overflow: hidden;
}

.company-socialsec-banner img {
	width: 100%;
}

.company-socialsec-process-box {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
}

.company-socialsec-h2 {
	font-size: 1.5rem;
	color: #333;
	/*font-weight: 500;*/
	margin-top: 3rem;
	text-align: center;
	color: #262626;
	width: 100%;
	letter-spacing: 1px;
}

.company-socialsec-h2-b {
	height: 2px;
	width: 16.6%;
	margin: 0.7rem auto;
	margin-bottom: 0.5rem;
	background: #00ad55;
}

.company-socialsec-h2-p {
	width: 100%;
	text-align: center;
	font-size: 1.3rem;
	color: #808080;
}

.company-socialsec-process {
	width: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	margin-top: 2rem;
}

.company-socialsec-process dl {
	width: 33.3333%;
	position: relative;
	height: 16.7rem;
	text-align: center;
}

.company-socialsec-process dl p {
	position: absolute;
	top: 0;
	width: 2rem;
	height: 2rem;
	left: 50%;
	margin-left: -1rem;
}

.company-socialsec-process dl p img {
	width: 2rem;
}

.company-socialsec-process dl dt {
	width: 100%;
	height: 11rem;
}

.company-socialsec-process dl dt img {
	width: 7.5rem;
	padding-top: 3.2rem;
}

.company-socialsec-process dl dd {
	font-size: 1rem;
	color: #666;
	margin-top: 0.5rem;
}

.company-socialsec-btn {
	display: block;
	width: 15rem;
	height: 2.5rem;
	background: #ff6666;
	line-height: 2.5rem;
	text-align: center;
	margin: 0 auto;
	border-radius: 1.15rem;
	color: #fff;
	font-size: 1.2rem;
}

.company-socialsec-btn:focus,
.company-socialsec-btn:hover {
	color: #fff;
}

.company-socialsec-a {
	width: 64%;
	margin: 0.5rem auto;
	text-align: center;
	font-size: 1.2rem;
	color: #22bd7a;
	display: block;
	cursor: pointer;
	text-decoration: underline;
	font-weight: 400;
	line-height: 1.25rem;
	margin-top: 1rem;
}

.company-socialsec-data-box {
	width: 100%;
	background: #f1f1f1;
	overflow: hidden;
	margin-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.company-socialsec-data {
	width: 100%;
	margin: 0 auto;
}

.company-socialsec-datamain {
	width: 95%;
	margin-top: 1.5rem;
	overflow: hidden;
	padding-bottom: 1.5rem;
}

.company-socialsec-datamain ul {
	width: 100%;
	overflow: hidden;
}

.company-socialsec-datamain ul li {
	width: 80%;
	height: 6.5rem;
	float: right;
	position: relative;
	background: #fff;
	margin-bottom: 1rem;
	padding: 1.1rem 1rem 0 1rem;
}

.company-socialsec-datamain ul li img {
	display: block;
	position: absolute;
	top: 0;
	left: -4.8rem;
	height: 4rem;
}

.company-socialsec-datamain ul li h4 {
	font-size: 1.2rem;
	color: #333333;
}

.company-socialsec-datamain ul li span {
	font-size: 1.1rem;
	color: #666666;
	font-weight: 400;
	line-height: 1.5rem;
}

.company-socialsec-bannermiddle-box {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.company-socialsec-bannermiddle-box img {
	width: 100%;
}

.company-socialsec-bannermiddle-box .company-socialsec-btn-c {
	position: absolute;
	width: 6rem;
	right: 0;
	top: 0;
	height: 100%;
	display: block;
}

.company-socialsec-footer-box {
	width: 100%;
	background: #ebf0f1;
	overflow: hidden;
	padding-bottom: 1.5rem;
}

.company-socialsec-footer {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 10px;
	margin-bottom: 2.5prem;
	margin-top: 2rem;
}

.company-socialsec-footer p {
	width: 48%;
	float: left;
	border-radius: 1rem;
	position: relative;
	margin-bottom: 1.3rem;
}

.company-socialsec-footer p:nth-child(2n+1) {
	float: right;
}

.company-socialsec-footer p img {
	width: 100%;
}

.company-socialsec-footer p span {
	display: block;
	width: 100%;
	color: #fff;
	font-size: 1.1rem;
	text-align: center;
	bottom: 1rem;
	line-height: 1.5rem;
	left: 0;
	position: absolute;
}

.company-socialsec-partner-box {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 1.5rem;
}

.company-socialsec-partner {
	width: 100%;
	margin-top: 2rem;
	padding-bottom: 0.5rem;
	height: 22rem;
}

.swiper-wrapper {
	height: 27.1rem;
}

.company-socialsec-partner ul {
	width: 100%;
	left: 0;
	top: 0;
	padding: 1rem 1rem;
	background: #fff;
}

.company-socialsec-partner ul li {
	float: left;
	margin-bottom: 1.5rem;
	width: 47%;
}

.company-socialsec-partner ul li img {
	width: 100%;
}

.company-socialsec-partner ul li:nth-child(2n) {
	float: right;
}

.company-socialsec-partner ul li a {
	display: block;
	border-radius: 0.5rem;
	box-shadow: 0 0 1rem #ccc;
	width: 100%;
}

.footer-content-box {
	width: 100%;
	background: url(/resources/images/service/h5/common/gsblsb_en.jpg) no-repeat;
	background-size: 100% 100%;
	padding: 1rem 0;
}

.footer-content-top {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	overflow: hidden;
	padding: 0 1.5rem;
}

.footer-content-top1 {
	padding-bottom: 1.5rem;
	overflow: hidden;
}

.footer-content-top1 img {
	width: 10rem;
	float: left;
}

.footer-content-top1 p {
	float: right;
	color: #cccccc;
	font-size: 1.1rem;
	line-height: 2.5rem;
	display: none;
}

.footer-content-top ul {
	clear: both;
	display: -webkit-box;
	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;
	/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;
	/* TWEENER - IE 10 */
	display: -webkit-flex;
	/* NEW - Chrome */
	display: flex;
}

.footer-content-top ul li {
	-webkit-box-flex: 1;
	/* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;
	/* OLD - Firefox 19- */
	-webkit-flex: 1;
	/* Chrome */
	-ms-flex: 1;
	/* IE 10 */
	flex: 1;
	text-align: center;
}

.footer-content-top ul li a {
	width: 80%;
	margin: 0 auto;
	background: rgba(255, 255, 255, .7);
	color: #4a4a4a;
	height: 2.4rem;
	line-height: 2.5rem;
	display: block;
	font-size: 1.3rem;
}

.footer-content-top2 {
	padding: 1.5rem 0;
	padding-bottom: 0;
}

.footer-content-top2 p {
	color: #ffffff;
	font-size: 1.1rem;
	line-height: 1.5rem;
}

.footer-content-bottom {
	overflow: hidden;
	text-align: center;
	padding-top: 1.5rem;
}

.footer-content-bottom p {
	text-align: center;
	color: #cccccc;
	font-size: 1.1rem;
	line-height: 1.5rem;
}

.nb-icon-right-center {
	opacity: 0.8;
	right: 17px;
	top: 43%!important;
	left: auto;
	bottom: auto;
}

#nb_icon_wrap {
	height: 13rem !important;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	-webkit-text-fill-color: #333;
}

input:autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	-webkit-text-fill-color: #333;
}


/*2017.4.10薪酬优化案例*/

.compensation-case {
	background: #f1f1f1;
	padding-bottom: 2rem;
}

.compensation-compare {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	background: #FFFFFF;
	padding-top: 1.8rem;
	/*box-shadow: 0 0 1rem #ccc;*/
	border-bottom: 5px solid #3dbb8e;
	position: relative;
}

.compensation-compare b {
	font-size: 1.4rem;
	color: #262626;
}

.compensation-compare-number {
	margin-top: 1.4rem;
}

.compensation-compare p {
	display: inline-block;
	width: 40%;
}

.compensation-compare p:first-child{
	position: relative;
	/*border-right: 1px solid #CCCCCC;*/	
}
.compensation-compare p:first-child:after{
	position: absolute;
	content: '';
	width: 1px;
	height: 2.6rem;
	background: #DCDDDD;
	right: 0;
	top: 0.7rem;
	}
.compensation-compare p img {
	width: 60%;
}

.compensation-compare p span {
	color: #808080;
	font-size: 1.2rem;
}

.compensation-compare-advantage {
	width: 80%;
	margin: 0 auto;
	margin-top: 1rem;
	/*box-shadow: 0 0 1rem #ccc;*/
	background: #3dbb8e;
	color: #FFFFFF;
	text-align: center;
	/*padding-top: 1.5rem;*/
	margin-bottom: 1.5rem;
}

.compensation-compare-advantage>div {
	width: 74%;
	margin: 0 auto;
	margin-bottom: 2%;
	height: 5rem;
	border-bottom: 1px dashed #62d1a1;
	padding-bottom: 2%;
	/*padding-top: 1.8rem;*/
}

.compensation-compare-advantage>div {
	position: relative;
}

.compensation-compare-advantage div div {
	width: 60%;
	/*margin-right: 3%;*/
	float: right;
	/*margin-top: 2.4rem;*/
	/*height: 6rem;*/
	/*margin-top: 0.5rem;*/
	/*line-height: 6rem;*/
	position: absolute;
	right: 1%;
	top: 50%;
	transform: translate(0, -50%);
}

.compensation-compare-advantage div div p {
	/*margin: 0 !important;*/
	margin: auto !important;
	/*line-height: 1.5rem;*/
}

.compensation-compare-advantage>div>img {
	/*width: 20%;
	margin-top: -1rem;*/
	height: 3.5rem;
	/* margin-top: -1rem; */
	float: left;
	margin-top: 0.55rem;
	/*margin-bottom: 5%;*/
	margin-left: 10%;
}

.compensation-compare-advantage p {
	font-size: 1.2rem
}

.compensation-compare-advantage p>img {
	width: 16%;
}

.compensation-compare ul {
	text-align: left;
	padding-left: 12%;
	padding-right: 7%;
	font-size: 1.2rem;
	color: #555555;
}

.compensation-compare ul li {
	position: relative;
}

.compensation-compare ul li:before {
	position: absolute;
	left: -0.8rem;
	top: 1.2rem;
	content: '';
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #333;
}

.compensation-compare-arrow {
	position: absolute;
	height: 2rem;
	left: 50%;
	width: 20%;
	margin-left: -10%;
	bottom: -2rem;
}

@media only screen and (min-width: 400px) {
	/*.compensation-compare-arrow {
		bottom: -16%;
	}*/
}

@media only screen and (min-width: 375px) {
	.compensation-compare ul li:before {
		top: 0.8rem;
	}
}

.compensation-compare-star {
	margin-bottom: 1rem;
}

.compensation-compare-star img {
	width: 5.5%;
	margin: 0 0.7%;
}

.compensation-optimization-mannage {
	margin-top: 3rem;
	overflow: hidden;
	margin-bottom: 2rem;
	text-align: center;
}

.compensation-optimization-mannage ul {
	/*float: left;*/
	width: 22%;
	margin-right: 2%;
	border-radius: 3px;
	border-top: none;
	border-radius: 5px;
}

.compensation-optimization-mannage ul li {
	width: 100%;
	height: 2.4rem;
	text-align: center;
	font-size: 1.1rem;
	border: 1px solid #EAEAEA;
	color: #555555;
	letter-spacing: 1px;
	box-sizing: border-box;
	margin-top: -1px;
	line-height: 2.4rem;
}

.compensation-optimization-mannage ul li img {
	height: 85%;
	margin-top: -4%;
}

.compensation-optimization-mannage>div {
	float: left;
	margin-right: 2%;
}

.compensation-optimization-mannage .compensation-optimization-mannage1 {
	width: 42%;
	margin-left: 5%;
}

.compensation-optimization-mannage .compensation-optimization-mannage2,
.compensation-optimization-mannage .compensation-optimization-mannage3 {
	width: 22%;
}

.compensation-optimization-mannage div p {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 1px 2px;
	text-align: center;
	background: #ff6666;
	color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.compensation-optimization-mannage div ul {
	width: 100%;
	margin-top: -1px;
	box-sizing: content-box;
}

.compensation-optimization-mannage2 p {
	background: #3dbb8e !important;
}

.compensation-optimization-mannage3 p {
	background: #3dbb8e !important;
}

.compensation-pay-advantage {
	padding-bottom: 1rem !important;
}

.compensation-pay-advantage ul li {
	background: none;
	padding-top: 0;
}

.compensation-pay-advantage ul li p {
	display: block;
	position: absolute;
	top: 0;
	left: -4.5rem;
	height: 4.3rem;
	width: 4.3rem;
	line-height: 4rem;
	border-radius: 50%;
	text-align: center;
	background: #ffffff;
}
.compensation-pay-advantage ul li p img{
	width: 2.5rem;	
	margin-left: 0.9rem;
	float: left;
	margin-top: 20%;
	position: initial;
	height: auto;
	display: inline-block;
}
.compensation-parter-box {
	width: 100%;
	padding: 0 10%;
	background: url(/resources/images/service/h5/business/xcyh_05_7.jpg) no-repeat;
	background-size: 100% 100%;
}

.compensation-parter-box ul {
	background: none;
}

.compensation-order p span {
	display: inline-block;
	width: 26%;
	text-align: right;
	margin-right: 3%;
}

.compensation-order {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background: #f1f1f1;
}

.compensation-order input {
	border: none;
	background: #ffffff;
	width: 40%;
	height: 2.5rem;
	margin-right: 3%;
}

.compensation-order p input {
	padding-left: 1rem;
}

.compensation-order .compensation-order-submit {
	display: block;
	width: 15rem;
	height: 2.5rem;
	background: #ff6666;
	line-height: 2.5rem;
	text-align: center;
	margin: 0 auto;
	border-radius: 1.15rem;
	color: #fff;
	font-size: 1.2rem;
	margin-top: 2rem;
	border: none;
}
.compensation-order p {
	text-align: left;
}
.compensation-order p img {
	height: 1.5rem;
}
.compensation-parters li a {
	box-shadow: none !important
}
.compensation-parters li a img {
	/*box-shadow: 0 0.1rem 0.3rem #FFFFFF;*/
	
	border-radius: 4px;
}
.compensation-pay-advantage ul li span {
	display: inline-block;
	line-height: 1.8rem !important;
}
.employer-liability-insurance-section1 {
	background: #ffffff;
}
.employer-liability-insurance-Worry-box {
	overflow: hidden;
	width: 100%;
	margin: 2rem auto;
	position: relative;
	height: 31rem;
}
.employer-liability-insurance-Worry-box img {
	width: 16rem;
	height: 30rem;
	position: absolute;
	left: 0;
	top: 0;
}
.employer-liability-insurance-Worry-box span {
	position: absolute;
	font-size: 1.4rem;
	color: #888;
	display: block;
}
.employer-liability-insurance-Worry-span1 {
	top: 10%;
	left: 32%;
}
.employer-liability-insurance-Worry-span2 {
	top: 27%;
	left: 42%;
}
.employer-liability-insurance-Worry-span3 {
	top: 45%;
	left: 45%;
}
.employer-liability-insurance-Worry-span4 {
	top: 62.5%;
	left: 42%;
}
.employer-liability-insurance-Worry-span5 {
	top: 80%;
	left: 33%;
}
.employer-liability-insurance-advantage>ul>li {
	background: #ffffff;
	border-radius: 10px;
}
.employer-liability-insurance-advantage ul li {
	height: auto;
}
.employer-liability-insurance-advantage ul li ul {
	padding-left: 1rem;
	color: #666666;
	margin-top: 0.8rem;
	padding-bottom: 1rem;
}
.employer-liability-insurance-advantage ul li ul li {
	text-align: left;
	width: auto;
	float: none;
	padding: 0;
	margin-bottom: 0;
	position: relative;
}
.employer-liability-insurance-advantage h4 {
	border-bottom: 1px solid #ecf0f1;
	padding-bottom: 0.8rem;
	padding-top: 1.2rem;
}
.employer-liability-insurance-advantage ul li ul li:before {
	position: absolute;
	content: '';
	left: -0.8rem;
	top: 0.9rem;
	width: 4px;
	height: 4px;
	background: #ff4c4b;
	border-radius: 50%;
}
.employer-liability-insurance-advantage ul li ul li span {
	color: #ff4c4b;
	font-size: inherit;
}
.employer-liability-insurance-list-one-box {
	margin: 1rem 0;
}
.employer-liability-insurance-list-one {
	width: 78.77%;
	margin: 0 auto;
}
.employer-liability-insurance-list-one-pictureTop {
	width: 110%;
	margin-left: -5%;
}
.employer-liability-insurance-list-one {
	position: relative;
	padding-top: 2rem;
}
.employer-liability-insurance-list-one>p {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	width: 120%;
	margin-left: -10%;
	background: url(/resources/images/service/h5/employee/gzzrx_03_01.png) no-repeat;
	background-size: 100% 100%;
	height: 7rem;
	padding-top: 1.5rem;
	color: #ffffff;
	font-size: 1.8rem
}
.employer-liability-insurance-list-one>p img {
	width: 10%;
	margin-right: 1%;
}
.employer-liability-insurance-list-one ul li {
	height: 4rem;
	line-height: 4.3rem;
	vertical-align: middle;
	color: #ff4c4b;
}
.employer-liability-insurance-list-one ul {
	padding-top: 4rem;
	box-shadow: 1px 0px 7px rgba(45, 45, 45, 0.3);
	border-radius: 1rem;
	overflow: hidden;
}
.employer-liability-insurance-list-one ul li span {
	display: inline-block;
	width: 50%;
	border-right: 1px solid #ffffff;
	color: #666666;
	margin-right: 5%;
	padding-left: 5%;
}
.employer-liability-insurance-list-one ul li:nth-of-type(2n) {
	background: #ecfcf2;
}
.employer-liability-insurance-list-one ul li:nth-of-type(1),
.employer-liability-insurance-list-one ul li:nth-of-type(1) span {
	color: #000000;
	font-weight: 700;
}
@media only screen and (max-width: 360px) {
	.employer-liability-insurance-list-one ul li span {
		width: 50%;
		color: #666666;
		margin-right: 3%;
		padding-left: 3%;
	}
}
.employer-liability-insurance-list-two ul li:nth-of-type(2n) {
	background: #ecfcf2;
}
.employer-liability-insurance-list-two>p {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	width: 120%;
	margin-left: -10%;
	background: url(/resources/images/service/h5/employee/gzzrx_03_03.png) no-repeat;
	background-size: 100% 100%;
	height: 7rem;
	padding-top: 1.5rem;
	color: #ffffff;
	font-size: 1.8rem
}
.employer-liability-insurance-list-two ul li:last-child {
	position: relative;
	height: 16rem;
	text-align: center;
	padding-top: 2rem;
}
.employer-liability-insurance-list-two ul li:last-child img {
	width: 33%;
}
.employer-liability-insurance-list-tip {
	width: 78.77%;
	margin: 0 auto;
	padding-top: 3%;
	box-shadow: 0px 3px 20px 2px rgba(200, 200, 200, 0.3);
	border-radius: 1rem;
}
.employer-liability-insurance-list-tip ul {
	overflow: hidden;
}
.employer-liability-insurance-list-tip ul li {
	float: left;
	margin-bottom: 1rem;
}
.employer-liability-insurance-list-tip ul li img {
	width: 2.5rem;
}
.employer-liability-insurance-list-tip ul li:nth-of-type(2n+1) {
	width: 45%;
	padding-left: 10%;
}
.employer-liability-insurance-list-attention {
	width: 90%;
	margin: 0 auto;
	margin-top: 2rem;
}
.employer-liability-insurance-list-attention p {
	padding-left: 1rem;
	position: relative;
	color: #d83620;
	font-weight: 600;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #ecf0f1;
	font-size: 1.4rem;
}
.employer-liability-insurance-list-attention p:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0.3rem;
	width: 0.2rem;
	height: 1.3rem;
	background: #d83620;
}
.employer-liability-insurance-list-attention ul {
	width: 93%;
	margin-left: 5%;
	color: #666666;
}
.employer-liability-insurance-list-attention ul span {
	color: #ff4c4b;
}
.employer-liability-insurance-list-attention ul li {
	margin-bottom: 0.5rem;
	position: relative;
}
.employer-liability-insurance-list-attention ul li:before {
	content: '';
	position: absolute;
	top: 1rem;
	left: -1rem;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #d83620;
}
.employer-liability-insurance-list-logo-box {
	width: 92%;
	margin: 0 auto;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.employer-liability-insurance-list-logo-box table {
	width: 100%;
	border: none;
	box-shadow: 0px 3px 20px 2px rgba(200, 200, 200, 0.3);
	border-radius: 10px;
	color: #666666;
}
.employer-liability-insurance-list-logo-box table tr td {
	border: none;
}
.employer-liability-insurance-list-logo-box table tr td img {
	width: 30%;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}
.employer-liability-insurance-list-logo-box table tr:nth-of-type(1) td {
	border-bottom: 1px solid #ecf0f1;
}
.employer-liability-insurance-list-logo-box table tr td p {
	color: #b3b3b3;
}
.employer-liability-insurance-process {
	width: 100%;
	padding: 0 5%;
	background: url(/resources/images/service/h5/employee/gzzrx_04_01.jpg) no-repeat;
	background-size: 100% 100%;
}
.employer-liability-insurance-process ul {
	text-align: center;
	margin-top: 3rem;
}
.employer-liability-insurance-process ul li {
	position: relative;
	box-sizing: border-box;
	width: 33%;
	height: 4rem;
	line-height: 4rem;
	display: inline-block;
	text-align: center;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	margin-bottom: 3rem;
}
.employer-liability-insurance-process ul li:nth-of-type(2n+1) {
	margin-right: 9%;
}
.employer-liability-insurance-process ul li:nth-of-type(1):after {
	content: '';
	position: absolute;
	right: -29%;
	top: 24%;
	width: 2.5rem;
	height: 1.7rem;
	background: url(/resources/images/service/h5/employee/gzzrx_04.png) no-repeat;
	background-size: 100% 100%;
}
.employer-liability-insurance-process ul li:nth-of-type(2):after {
	content: '';
	position: absolute;
	right: 40%;
	top: 110%;
	height: 2.5rem;
	width: 1.7rem;
	background: url(/resources/images/service/h5/employee/gzzrx_04-1.png) no-repeat;
	background-size: 100% 100%;
}
.employer-liability-insurance-process ul li:nth-of-type(3) {
	border: none;
	color: #267ec2;
	font-weight: 700;
	padding: 1px;
	background: rgba(255, 255, 255, 0.5);
}
.employer-liability-insurance-process ul li:nth-of-type(3):after {
	content: '';
	position: absolute;
	right: -26%;
	top: 24%;
	width: 2.5rem;
	height: 1.7rem;
	background: url(/resources/images/service/h5/employee/gzzrx_04-2.png) no-repeat;
	background-size: 100% 100%;
}
@media only screen and (max-width: 360px) {
	.employer-liability-insurance-process ul li:nth-of-type(1):after {
		right: -32%;
	}
	
	.employer-liability-insurance-process ul li:nth-of-type(3):after {
		right: -29%;
	}
}
.PersonnelAgency-company-worry-box {
	background: #f1f9fc;
}
.PersonnelAgency-company-worry-box-ul {
	overflow: hidden;
	color: #666666;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.PersonnelAgency-company-worry-box-ul>li {
	width: 90%;
	margin-left: 5%;
	background: #ffffff;
	height: 15rem;
	float: left;
	padding-top: 2rem;
	margin-bottom: 1rem;
	border-radius: 10px;
	box-shadow: 3px 3px 5px #CCCCCC;
}
.PersonnelAgency-company-worry-box-ul>li:nth-child(1) b {
	color: #368bff;
	font-size: 1.5rem
}
.PersonnelAgency-company-worry-box-ul>li:nth-child(2) b {
	color: #ff4d4d;
	font-size: 1.5rem
}
.PersonnelAgency-company-worry-box-ul>li:nth-child(3) b {
	color: #368bff;
	font-size: 1.5rem
}
.PersonnelAgency-company-worry-box-ul li:nth-child(1),
.PersonnelAgency-company-worry-box-ul li:nth-child(2) {
	position: relative;
}
.PersonnelAgency-company-worry-box-ul>li:nth-child(1):before,
.PersonnelAgency-company-worry-box-ul>li:nth-child(2):before {
	position: absolute;
	content: '';
	width: 0.7rem;
	height: 3rem;
	background: url(/resources/images/service/h5/agency/rswb_01.png) no-repeat;
	background-size: 100% 100%;
	top: 14rem;
	left: 6%;
	z-index: 2;
}
.PersonnelAgency-company-worry-box-ul>li:nth-child(1):after,
.PersonnelAgency-company-worry-box-ul>li:nth-child(2):after {
	position: absolute;
	content: '';
	width: 0.7rem;
	height: 3rem;
	background: url(/resources/images/service/h5/agency/rswb_01.png) no-repeat;
	background-size: 100% 100%;
	top: 14rem;
	right: 6%;
	z-index: 2;
}
.PersonnelAgency-company-worry-box-ul li img {
	float: left;
	width: 20%;
	margin-left: 5%;
	margin-top: 3rem;
}
.PersonnelAgency-company-worry-box-ul li div {
	float: right;
	width: 60%;
	margin-right: 4%;
}
.PersonnelAgency-company-worry-box-ul li div ul {
	margin-top: 1rem;
}
.PersonnelAgency-company-worry-box-ul li div li {
	line-height: 2rem;
	font-size: 1.1rem;
	position: relative;
	text-align: justify;
	/*list-style-type: disc;*/
}
.PersonnelAgency-company-worry-box-ul li div li:before {
	position: absolute;
	content: '';
	width: 0.3rem;
	height: 0.3rem;
	background: #666666;
	left: -0.6rem;
	top: 0.7rem;
	border-radius: 50%;
}
.PersonnelAgency-PersonnelAgency {
	margin: 0;
	background: #ffffff;
}
.PersonnelAgency-advantage ul li img {
	border-radius: 50%;
	box-shadow: 2px 2px 10px #ddd;
	left: -6.5rem;
	height: 5rem;
	padding: 1rem 0.8rem;
}
.PersonnelAgency-advantage {
	width: 100%;
}
.PersonnelAgency-advantage ul li {
	padding: 0 1.5rem 0 0;
	border-bottom: 1px dashed #CCCCCC;
	width: 76%;
	text-align: justify;
}
.PersonnelAgency-advantage ul li:last-child {
	border: none;
}
.PersonnelAgency-advantage ul li h4 {
	margin-bottom: 0.5rem;
}
.PersonnelAgency-parter-box {
	background: url(/resources/images/service/h5/agency/rswb_05.jpg) no-repeat;
	background-size: 100% 100%;
}
.PersonnelAgency-pay-box {
	background: url(/resources/images/service/h5/agency/rswb_03.jpg) no-repeat;
	background-size: 100% 100%;
	text-align: center;
	width: 100%;
}
.PersonnelAgency-pay-box img {
	width: 90%;
	margin-top: 1rem;
}
.SocialSecurityAgency-company-box-ul {
	overflow: hidden;
	margin-top: 1.5rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.SocialSecurityAgency-company-box-ul>li {
	float: left;
	width: 29.33333%;
	text-align: center;
	margin: 0 2%;
	padding: 2%;
	box-shadow: 0 0 0.5rem -0.11rem #3dcb9d;
	border-radius: 1rem;
	height: 23rem;
}
.SocialSecurityAgency-company-box-ul>li b {
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
	display: inline-block;
}
.SocialSecurityAgency-company-box-ul>li img {
	width: 6rem;
}
.SocialSecurityAgency-company-box-ul>li li {
	padding-top: 0.5rem;
	border-top: 1px solid #ccc;
	text-align: left;
	color: #888;
}
.SocialSecurityAgency-company-box-ul>li:nth-of-type(4) {
	width: 40%;
	margin-left: 8%;
	margin-top: 0.5rem;
	height: 18rem;
	margin-top: 1rem;
}
.SocialSecurityAgency-company-box-ul>li:nth-of-type(5) {
	width: 40%;
	margin-top: 0.5rem;
	height: 18rem;
	margin-top: 1rem;
}
.SocialSecurityAgency-z-tip {
	margin: 1.5rem 0;
	text-align: center;
	font-size: 1.3rem;
	font-weight: 600;
	margin-top: 1.5rem;
	line-height: 2rem;
	height: 2rem;
}
.SocialSecurityAgency-z-tip * {
	vertical-align: middle;
}
.SocialSecurityAgency-z-tip span {
	font-size: 2rem;
	color: #ff4d4d;
	display: inline-block;
	height: 2rem;
	line-height: 1.8rem;
}
.SocialSecurityAgency-taskbox {
	width: 94%;
	margin-left: 3%;
	margin-top: 1rem;
	background: #ffffff;
	border-bottom: 0.14rem solid #3dcb9d;
	box-shadow: 0.57rem 0.57rem 0.71rem #ddd;
}
.SocialSecurityAgency-taskbox ul li {
	width: 30%;
	display: inline-block;
	margin: 0 1.2%;
	text-align: center;
}
.SocialSecurityAgency-taskbox ul li img {
	width: 60%;
}
.SocialSecurityAgency-taskbox ul li span {
	display: block;
	text-align: center;
	box-shadow: 0 0 0.5rem -0.11rem #3dcb9d;
	border-radius: 1rem;
	margin: 1.2rem 0;
	font-size: 1.2rem;
	font-weight: 600;
}
.SocialSecurityAgency-advantagebox {
	margin-bottom: 2rem;
	margin-top: 1.5rem;
}
.SocialSecurityAgency-advantagesection {
	overflow: hidden;
	margin-bottom: 1.5rem;
}
.SocialSecurityAgency-advantagesectionleft {
	float: left;
	text-align: center;
	width: 25%;
}
.SocialSecurityAgency-advantagesectionleft img {
	width: 80%;
	margin: 0;
}
.SocialSecurityAgency-advantagesectionleft span {
	display: block;
	color: #ffffff;
	font-size: 1.2rem;
}
.SocialSecurityAgency-advantagesectionright {
	float: right;
	text-align: left;
	width: 70%;
	margin-right: 3%;
	font-size: 1.2rem;
	background: #ffffff;
	border-radius: 0.8rem;
	padding: 1rem;
	position: relative;
}
.SocialSecurityAgency-advantagesectionright b {
	font-size: 1.3rem;
}
.SocialSecurityAgency-advantagesectionright p {
	margin-bottom: 0;
	color: #888;
}
.SocialSecurityAgency-advantagesectionright:before {
	content: '';
	position: absolute;
	left: -1rem;
	top: 50%;
	margin-top: -1rem;
	width: 1rem;
	height: 2rem;
	background: url(/resources/images/service/h5/security/sbdl_03-4.png) no-repeat;
	background-size: 100% 100%;
}
.SocialSecurityAgency-citybox {
	width: 100%;
	overflow-x: scroll;
	padding-bottom: 2rem;
}
.SocialSecurityAgency-citybox ul {
	width: 250%;
}
.SocialSecurityAgency-citybox ul li {
	width: 12.14%;
	margin: 0 1.0714%;
	float: left;
	border-radius: 1rem;
	box-shadow: 0.57rem 0.57rem 0.71rem #ddd;
}
.SocialSecurityAgency-citybox ul li img {
	width: 100%;
}
.SocialSecurityAgency-citybox1 {
	margin: 0 3%;
	box-shadow: 0.57rem 0.57rem 0.71rem #ddd;
	background: #ffffff;
	border-radius: 0.5rem;
}
.SocialSecurityAgency-citybox1-top {
	overflow: hidden;
	padding: 3%;
	padding-bottom: 0;
}
.SocialSecurityAgency-citybox1-p {
	float: left;
	margin-top: 0.5rem;
	/*width: 70%;*/
}
.SocialSecurityAgency-citybox1-top img {
	float: right;
	width: 25%;
}
.SocialSecurityAgency-citybox1-p p {
	margin-bottom: 0;
	color: #3dcb9d;
	font-size: 1.7rem;
}
.SocialSecurityAgency-citybox1>p {
	padding: 3%;
	text-align: justify;
	color: #888;
	padding-top: 0;
	margin-top: -2rem;
	line-height: 1.8rem;
	font-size: 1.2rem;
}
.XB-foot {
	background: #f6f5fa;
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.XB-foot-top {
	text-align: center;
}
.XB-foot-top li {
	display: inline-block;
	font-size: 1.6rem;
	padding: 0.5rem 1rem;
	color: #999;
	border-bottom: 2px solid #999;
	margin: 0 2%;
}
.XB-foot-top li.active {
	color: #000000;
	border-bottom: 2px solid #3ece9d;
}
.XB-foot-box {
	margin-top: 1.5rem;
	overflow-x: scroll;
	width: 100%;
	padding-bottom: 1rem;
	display: none;
	height: 14rem;
}
.XB-foot-box:nth-of-type(1) {
	display: block;
}
.XB-foot-section {
	width: 280%;
	/*margin:0 5%;*/
	
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.XB-foot-section li {
	float: left;
	width: 15.6%;
	margin: 0 0.53333%;
	padding: 0.8%;
	text-align: center;
	background: #ffffff;
	border-radius: 0.5rem;
	box-shadow: 0 0 1rem #ccc;
}
.XB-foot-section li img {
	width: 100%;
}
.XB-foot-section li p {
	height: 4.1rem;
	margin-bottom: 0;
	font-size: 1.2rem;
	text-align: left;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	color: #888888;
}
.XB-foot-box1-1 {
	width: 200%;
	padding-top: 2rem;
}
.z-section-bigulbox {
	width: 93%;
	float: left;
	padding: 0 1%;
	padding-right: 0;
	padding-top: 1rem;
}
.z-section-bigulbox li {
	float: left;
	width: 31.3%;
	margin-right: 2%;
	background: #ffffff;
	border-radius: 0.5rem;
	box-shadow: 0 0 1rem #ccc;
}
.z-hotservice-section-a {
	float: left;
	margin-top: 1rem;
	margin-right: 2%;
	width: 5%;
}
.z-section-bigulbox li a {
	color: #333;
}
.z-section-bigulbox li a section {
	position: relative;
}
.z-hotservicedata {
	position: absolute;
	left: 1rem;
	top: -2rem;
	width: 5rem;
	height: 5rem;
	background: #22bd7a;
	color: #ffffff;
	text-align: center;
	padding-top: 0.5rem;
}
.z-hotservicedata b {
	font-size: 2.5rem;
	display: block;
}
.z-hotservicedata span {
	display: block;
	margin-top: -0.5rem;
}
.z-hotservicetext {
	padding: 0 1rem;
	padding-top: 3rem;
	height: 9rem;
}
.z-hotservicetext b {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.z-hotservicetext span {
	font-size: 1.2rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	color: #888888;
}
.z-hotservice-section-a {
	height: 10rem;
	line-height: 10rem;
	text-align: center;
	background: #ffffff;
	border-radius: 0.5rem;
	box-shadow: 0 0 1rem #ccc;
}
.z-hotservice-section-a img {
	width: 70%;
}

.fullriskoutsourcing-point{
	margin-left: 3%;
	width: 94%;
	background: #ffffff;
	border-radius: 0.5rem;
	text-align: center;
	padding-bottom: 1.5rem;
}
.fullriskoutsourcing-point-head{
	text-align: center;
	font-size: 1.6rem;
	color: #000000;
	font-weight: 600;
	padding-top: 1rem;
}
.fullriskoutsourcing-point-head *{
	vertical-align: middle;
}
.fullriskoutsourcing-point-head i{
	color: #ff9d2e;
	font-size: 1.4rem;
	margin: 0 1rem;
}
.fullriskoutsourcing-point-top{
	display: inline-block;
	margin: 0 auto;
	padding: 0.3rem 1rem;
	background:#ff9d2e;
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 1.6rem;
    position: relative;
}
.fullriskoutsourcing-point-top img{
	position: absolute;
	left: 50%;
	margin-left: -0.5rem;
	bottom: -0.6rem;
	width: 1rem;
	height: 0.6rem;
}
.fullriskoutsourcing-point ul{
	margin-top: 1.5rem;
}
.fullriskoutsourcing-point ul li{
	width: 42%;
	display: inline-block;
	box-shadow: 0 0 0.5rem #ff9d2e;
	border-radius: 0.5rem;
	margin:0.5rem 2%;
	text-align: left;
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: 1.2rem
}
.fullriskoutsourcing-point ul li:last-child{
	background: url(/resources/images/service/h5/fullrisk/points.png) center center no-repeat;
	background-size:4rem 1.3rem ;
}
.fullriskoutsourcing-point ul li:last-child img{
	visibility: hidden;
}
.fullriskoutsourcing-point ul li img{
	width: 14%;
	margin: 0 2% 0 6%;
}

.fullriskoutsourcing-point ul li:nth-of-type(2) img{
	width: 14%;
	margin: 0 2% 0 6%;
}
.fullriskoutsourcing-point ul li:nth-of-type(4) img{
	width: 14%;
	margin: 0 2% 0 6%;
}
.fullriskoutsourcing-point ul li:nth-of-type(6) img{
	width: 14%;
	margin: 0 2% 0 6%;
}
@media only screen and (max-width: 360px) {
.fullriskoutsourcing-point ul li img{
	width: 14%;
	margin: 0 2% 0 2%;
}
}
.fullriskoutsourcing-advantagebox{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.fullriskoutsourcing-advantagebox *{
	vertical-align: middle;
}
.fullriskoutsourcing-advantagesection{
	margin-bottom: 1.5rem;
}
.fullriskoutsourcing-advantagesectionleft,.fullriskoutsourcing-advantagesectionright{
	display: inline-block;
}
.fullriskoutsourcing-advantagesectionleft{
	width: 20%;
}
.fullriskoutsourcing-advantagesectionleft img{
	width: 100%;
}
.fullriskoutsourcing-advantagesectionright{
	width: 70%;
	margin-left: 2%;
	border: 1px solid #fbcc96;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
	text-align: left;
	position: relative;
}
.fullriskoutsourcing-advantagesectionright b{
	font-size: 1.4rem;
}
.fullriskoutsourcing-advantagesectionright i{
	font-style: normal;
	color: #ff9e2f;
	display: inline-block;
	margin-left: 4%;
	font-size: 1.2rem
}
.fullriskoutsourcing-advantagesectionright p{
	font-size: 1.2rem;
	line-height: 2rem;
	margin: 0;
	color: #989898;
}
.fullriskoutsourcing-advantagesectionright img{
	position: absolute;
	width: 0.8rem;
	height: 1.4rem;
	left: -0.8rem;
	top: 50%;
	margin-top: -0.7rem;
}
.aboutus-hzhb{
	padding-bottom:1rem;
}
.aboutus-hzhb-main{
	padding-top:0.5rem;
}
.aboutus-hzhb-main h2{
	font-size:1.5rem;
	line-height:6rem;
	color: #262626;
	/*font-weight: 300;*/
	text-align: center;
	letter-spacing: 1px;
}
.aboutus-hzhb-flex{
	width:100%;
 	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutus-hzhb-flex p{
	margin-top:0.5rem;
	width:24%;
	border:1px solid #e5e5e5;
}
.aboutus-hzhb-flex p img{
	width:100%;
}
.z-hotse{
	width: 100%;
}
.z-hotse .swiper-container{
	height: 17rem;
	margin-top: 2rem;
	margin-left: 5%;
	padding-left: 0.5rem;
}
.z-hotse .swiper-slide{
	width: 60%;
	height: 13rem;	
    /*border: 1px solid #EDEDED;*/
    box-sizing:border-box;	
}
.z-hotse .swiper-slide img{
	width: 100%;
}
.z-hotse .swiper-slide p{
	padding: 1rem;
	color: #666666;
	font-size: 1.1rem;
    line-height: 1.6rem;
    border: 1px solid #EDEDED;
    border-top: none;
}
.z-hotse .swiper-slide-active{
	/*margin-left: 5%;*/
	box-shadow: 0rem 0rem 1rem #EAEAEA;
	border:none
}

.z-hotse .swiper-slide-active p{
	/*box-shadow: 1px 1px 1px #EDEDED inset;*/
	border: none;
	/*padding: 0.8rem 1rem;*/
}
.z-hotse .swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: .1;
}
.z-hotse .swiper-pagination-bullet-active {
    opacity: 1;
    background: #3dbb8e !important;
}
.business-btn{
	background: #CF906B;
}
.bus-liucheng{
	width: 80%;
	margin: 1rem auto;
	text-align: center;
	display: flex;
}
.bus-liucheng dl{
	width: 12%;
	margin: 4%;
}
.bus-liucheng dl:last-child{
	margin-right: 0;
}
/*.bus-liucheng dl:nth-of-type(2n){
	width: 10%;
}*/
.bus-liucheng dl dt{
	position: relative;
}
.bus-liucheng dl dt:after{
	content: '.......';
	position: absolute;
	display: inline-block;
	font-size: 1rem;
	top: 50%;
	margin-top: -0.5rem;
	left: 100%;
	line-height: 50%;
	color: rgba(0,0,0,.1);
}
.bus-liucheng dl:last-child dt:after{
	display: none;
}
.bus-liucheng dl dt img{
	width: 100%;
	position: relative;
	z-index: 2;
}
.bus-liucheng dl dt span{
	font-size: 1rem;
	color: rgba(0,0,0,.1);
	margin-top: 20%;
    display: inline-block;
}
.bus-liucheng dl dt *{
	vertical-align: middle;
}
.bus-liucheng dl dd{
	height: 1rem;
}
.bus-liucheng dl dd img{
	width: 25%;
	display: none;
}
.bus-liucheng dl:first-child dd img{
	display: inline-block;
}
.bus-liucheng dl:first-child dt img{
	transform: scale(1.2);
}
.bus-liucheng-detail{
	width: 72%;
	margin: 0 auto;
}
.bus-liucheng-detail ul{
	height: 8rem;
	box-shadow: 0 0 0.3rem 0.15rem #E4E4E4;
	border-radius: 0.2rem;
	margin-bottom: 2.5rem;
}
.bus-liucheng-detail ul li{
	display: none;	
}
.bus-liucheng-detail ul li:first-child{
	display: block;
}
.bus-liucheng-detail ul li img{
	display: inline-block;
	height: 3.5rem;
	margin-left: 8%;
	margin-top: 2.25rem;
}
.bus-liucheng-detail ul li b{
	float: right;
	width: 65%;
	margin-right: 5%;
	margin-top: 1.5rem;
}
.bus-liucheng-detail ul li b h3{
	font-size: 1.2rem;
	color: #262626;
	margin-bottom: 0.7rem;
}
.bus-liucheng-detail ul li b span{
	display: inline-block;
	font-size: 1.1rem;
	color: #666666;
	letter-spacing: 0.02rem;
	font-weight: normal;
	line-height: 1.5rem;
}
.bus-add{
	padding-bottom: 1rem;
}
.bus-add .swiper-slide{
	width: 60%;
	background: #ffffff;
	box-shadow: 0 0 0.3rem 0.15rem #E4E4E4;
	border-radius: 0.4rem;
	text-align: center;
}
.bus-add .swiper-container{
	margin-left: 6.7%;	
	padding-bottom: 3rem;
}
.bus-add2 .swiper-container{
	margin-left: 0;	
	padding-bottom: 3rem;
	padding-top: 2rem;
}
.bus-add .swiper-wrapper{
	height: 24rem;
}
.bus-add .swiper-slide p{
	height: 7.2rem;
	margin: 0;
	margin-top: 3rem;
	width: 80%;
	margin-left: 10%;
	padding-bottom: 1rem;
	border-bottom: 1px solid #E4E4E4;
	margin-bottom: 1rem;
}
.bus-add .swiper-slide p img{
	display: inline-block;
	width: 20%;
	margin-bottom: 1rem;
}
.bus-add .swiper-slide p b{
	display: block;
	font-size: 1.4rem;
	color: #262626;
}
.bus-add .swiper-slide li{
	font-size: 1.2rem;
	color: #666666;
	text-align: justify;
	height: 9rem;
	width: 80%;
	margin-left: 10%;
	line-height: 1.6rem;
	list-style: none;
	position: relative;
	padding-left: 1rem;
}
.bus-add .swiper-slide li:before{
	content: '•';
	position: absolute;
	top: 0;
	left: 0rem;
	/*width: 0.45rem;
	height: 0.45rem;*/
	font-size: 1.3rem;
	/*border-radius: 50%;*/
	/*background: #939393;*/
	color: #939393;
}
.bus-add1 .swiper-pagination{
	bottom: 0.2rem !important;
	margin-left: -3.8%;
}
.bus-add .swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: .1;
}
.bus-add .swiper-pagination-bullet-active {
    opacity: 1;
    background: #3dbb8e !important;
}
.bus-add .company-socialsec-btn{
	width: 60%;
}
.bus-add2{
	margin-top: 1.6rem;
}
.bus-add2 .swiper-slide li{
	height: 8.5rem;
}
.bus-add2 .swiper-container{
	/*height: 30rem;*/
}
.bus-add .swiper-slide-z-more p{
	padding-top: 3.5rem;
	border-bottom: none;
}
.bus-add .swiper-slide-z-more p b{
	font-size: 3.5rem;
	color: #EFEFEF;
}
.bus-add .swiper-slide-z-more li{
	text-align: center;
	padding-left: 0;
	font-size: 1.3rem;
	color: #333333;
}
.bus-add .swiper-slide-z-more li:before{
	display: none;
}
.glass{
	text-align: center;
}
.glass_head{
	width: 100%;
}
.glass_top_body{
	background: #ffffff;
	padding-top: 2.5rem;
}
.glass_top_title{
	margin-bottom: 2.2rem;
}
.glass_top_title_1{
	margin-bottom: 0;
	position: relative;
	height: 3rem;
}
.glass_top_title_1 img:first-child{
	width: 58%;
	position: absolute;
	top: 0;
	left: 21%;
}
.glass_top_title_1 img:last-child{
	width: 7%;
	position: absolute;
	top: 0;
	left: 82%;
}
.glass_top_title_2{
	font-size: 1.1rem;
	color: #939393;
}
.glass_top_title_2 *{
	vertical-align: middle;
}
.glass_top_title_2 span{
	display: inline-block;
	margin: 0 2.4%;
	letter-spacing: 0.1rem;
	opacity: 0.8;
}
.glass_top_title_2 img{
	width: 13.8%;
}
.glass_top_input{
	padding-bottom: 3rem;
}
.glass_top_input p{
	overflow: hidden;
	margin-bottom: 1.2rem;
}
.glass_top_input p span{
	width: 30%;
	height: 2.8rem;
	line-height: 2.8rem;
	display: inline-block;
	text-align: right;
	font-size: 1.4rem;
	color: #333333;
	float: left;
	letter-spacing: 0.15rem;
}
.glass_top_input p input{
	float: left;
	width: 48%;
	height: 2.8rem;
	background: #FAF5EF;
	border-radius: 0.36rem;
	border: none;
	margin-bottom: 0;
	box-shadow: none !important;
	margin-left: 2.1%;
	outline: none !important;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border: 1px solid rgba(207,144,107,.5) !important;
}
.glass_top_input p button{
	float: left;
	width: 22.4%;
	height: 2.8rem;
	background-image: linear-gradient(-180deg, #E9C3A4 0%, #CF906B 100%);
	border-radius: 0.36rem;
	border: none;
	box-shadow: none;
	margin-left: 1.6%;
	color: #ffffff;
	font-size: 1.1rem;
}
.glass_top_input p img{
	float: left;
	margin-left: 1.4%;
	width: 3.5%;
	margin-top: 0.7rem;
}
.glass_submit{
	margin-top: 0.8rem;
	display: inline-block;
	font-size: 1.4rem;
	color: rgba(255,255,255,.9);
	letter-spacing: 0.1rem;
	border: none;
	width: 42.7% !important;
	height: 3rem;
	line-height: 3.2rem;
	border-radius: 2rem;
	background-image: linear-gradient(-180deg, #E9C3A4 0%, #CF906B 100%);
}
.glass_top_input_part{
	display: none;
}
.glass_top_about{
	background: #F9F0EB;
	padding-top: 3rem;
	padding-bottom: 1.5rem;
}
.glass_top_about_title{
	margin-bottom: 2.5rem;
}
.glass_top_about_title img{
	width: 13.8%;
}
.glass_top_about_title img:nth-of-type(2){
	width: 31.5%;
	margin: 0 2%;
}
.glass_top_about_pic img{
	width: 21.3%;
	margin: 0 2.5%;
}
.glass_top_about_text{
	margin: 0 7.3%;
	margin-top: 2rem;
}
.glass_top_about_text_section{
	padding: 0.5rem;
	background: #ffffff;
	margin-bottom: 1rem;
}
.glass_top_about_text_section_border{
	border: 0.15rem solid rgba(213,185,146,0.50);
	padding: 1rem 0;
}
.glass_top_about_text_section_border p{
	margin-bottom: 1rem;
	line-height: 2.5rem;
}
.glass_top_about_text_section_border p *{
	vertical-align: middle;
}
.glass_top_about_text_section_border p img{
	width: 9%;
}
.glass_top_about_text_section_border p span{
	font-size: 1.8rem;
	color: #333333;
	letter-spacing: 0.1rem;
}
.glass_top_about_text_section_border b{
	font-weight: normal;
	font-size: 1.4rem;
	display: block;
	line-height: 2.5rem;
	color: rgba(0,0,0,.6);
	letter-spacing: 0.05rem;
}
.glass_top_about_text_section_border b.y{
	color: #A2854C;
}
.glass_toknow{
	background: #ffffff;
	padding-top: 3rem;
	padding-bottom: 1rem;
}
.glass_toknow_title *{
	vertical-align: middle;
}
.glass_toknow_title img{
	width: 13.8%;
}
.glass_toknow_title span{
	font-size: 2rem;
	color: #333333;
	margin: 0 2%;
	letter-spacing: 0.1rem;	
}
.glass_toknow_title{
	margin-bottom: 1rem;
}
.glass_toknow_text{
	margin: 0 7.3%;
	margin-top: 1.5rem;
	padding: 0.5rem;
	background: #F9F0EB;
	display: none;
}
.glass_toknow_text_border{
	border: 0.15rem solid rgba(213,185,146,0.50);
	padding: 0 7.7%;
    padding-bottom: 0.5rem;
}
.glass_toknow_text_time{
	margin: 1.1rem 3%;
	padding-bottom: 1.2rem;
	border-bottom: 0.05rem solid #EFDCC7;
}
.glass_toknow_text_time p *{
	vertical-align: middle;
}
.glass_toknow_text_time p{
	margin-bottom: 1rem;
}
.glass_toknow_text_time p img{
	width: 9%;
}
.glass_toknow_text_time p span{
	font-size: 1.75rem;
	color: #333333;
	letter-spacing: 0.1rem;
}
.glass_toknow_text_time b{
	font-size: 1.4rem;
	color: #A2854C;
	font-weight: normal;
}
.glass_toknow_text_rule p{
	vertical-align: middle;
}
.glass_toknow_text_rule p img{
	width: 9%;
}
.glass_toknow_text_rule p span{
	font-size: 1.8rem;
	color: #333333;
	letter-spacing: 0.1rem;
}
.glass_toknow_text_rule ol{
	padding-left:7%
}
.glass_toknow_text_rule ol li{
	text-align: left;
	font-size: 1.3rem;
	color: #666666;
	line-height: 2.35rem;
	list-style: decimal;
}
.glass_toknow_text_rule ol li.y{
	color: #A2854C;
}
.glass_more{
	margin: 1rem auto 0;
	width: 1.4rem;
	height: 1.65rem;
	background: url(../imgglass/zhankai.png);
	background-size:100% 100%;
}
.glass_more.shouqi{
	margin: 1rem auto 0;
	width: 1.4rem;
	height: 1.65rem;
	background: url(../imgglass/shouqi.png);
	background-size:100% 100%;	
}
.glass_foot{
	height: 3.5rem;
	position: relative;
}
.glass_foot:before{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 35%;
	height: 0.1rem;
	background: #CF906B;
	opacity: 0.4;
}
.glass_foot:after{
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 35%;
	height: 0.1rem;
	background: #CF906B;
	opacity: 0.4;
}
.glass_foot img{
	height: 2.4rem;
	margin-top: 0.55rem;
}