html, body, div, ul,li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, button,a{
    margin: 0;
    padding: 0;
    color:#333;
    font:14px/20px '微软雅黑','宋体';
    box-sizing: border-box;
    font-weight:normal;
}
fieldset, img {
    border: none;
    display: block;
    box-sizing: border-box;
}
address, caption, cite, code, dfn, th, var, b, em, i,table,td,tr,th,strong{
    font-style: normal;
    font-weight: normal;
    font:14px/20px '微软雅黑','宋体';
    color:#333;
    box-sizing: border-box;
}
ul, ol, li,dl {
    list-style: none;
}

a,button{
	cursor: pointer;
	outline: none;
	text-decoration: none;
}
.index-powerbox-icon-btn{
	width:320px;
	height:48px;
	border:1px solid rgba(7,122,236,1);
	border-radius: 30px;
	float: left;
	margin-left: 164px;
	margin-top: 24px;
}
.index-powerbox-icon-btn a{
	display: block;
	font-size:18px;
	line-height: 48px;
	font-weight:500;
	color:  #077AEC;
	text-align: center;
}
.index-powerbox-icon-btn:hover{
	box-shadow:0px 0px 10px 0px rgba(0,93,185,0.25);
}
.btn-2242{
	display: inline-block;
	width:320px;
	height:48px;
	/*line-height:60px;*/
	text-align: center;
	border: 1px solid #077AEC;
	border-radius: 30px;
	font-size:18px;
	line-height: 48px;
	color:  #077AEC;
	margin-left: 271px;
}
input, select {
    height: 45px;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    padding: 0 10px;
    outline: none;
    box-sizing: border-box;
}
/*弹窗遮罩板*/
.hrs-maskboard{
	height:100%;
	width:100%;
	position: absolute;
	background:rgba(00,00,00,0.5);
	top:0;
	left:0;
	display:none;
}
/*弹窗共用样式*/
.hrsPopup-box{
	position: fixed;
	left:50%;
	top:100px;
	border:1px solid #dde5ef;
	background:#fff;
	display: none;
	z-index: 400;
}
.hrsPopuptitle{
	height:80px;
	border-bottom:1px solid #dde5ef;
	padding:0 29px;
}
.hrsPopuptitle h1{
	float:left;
	line-height:80px;
	font-size:20px;
	color:#383838;
}
.hrsPopuptitle img{
	float:right;
	margin-top:34px;
	cursor: pointer;
}
/*友盟*/
.youmengclass {
    display: block;
    width: 100%;
    text-align: center;
    background:transparent;
    padding-bottom:10px;
}
.youmengclass img{
	display: inline-block;
}
/*loading图*/
.qqxb-boxshadow{
	position: absolute;
	width:100%;
	height:100%;
	background:rgba(00,00,00,0.05);
	top:0;
	left:0;
}
.qqxb-boxshadow img{
	position: fixed;
	top:50%;
	left:50%;
	margin-top:-50px;
	margin-left:-50px;
}
.admin-info-nologin, .admin-info-login {
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
}
.admin-phone {
	width: 138px;
}
.app-download {
	width: 88px;
}
.admin-info-nologin>div, .admin-info-login>div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	margin-left: 15px;
}
.login-icon {
	display: block;
	margin: 0 8px;
	width: 16px;
	height: 16px;
}
.login-icon-download {
	background: url("/resources/images/pc/qqxbicon/icon-download.png") no-repeat;
	background-size: 100% 100%;
}
.login-font {
	font-size:14px;
	font-family:'\5FAE\8F6F\96C5\9ED1';
	font-weight:400;
	color:rgba(153,153,153,1);
}
/*.download-href:hover {*/
	/*color: #22bd7a;*/
/*}*/
.login-user-info {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.login-user-name {
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.login-head-img {
	margin: 0 8px;
	width: 36px;
	height: 36px;
	border-radius: 18px;
}
.select-img {
	width: 8px;
	height: 4px;
}
.qqxb-logo .person-list {
	float: none;
	display: none;
	background: #FFFFFF;
	position: absolute;
	padding: 0 10px;
	top: 50px;
	left: 0;
	width: 110px;
	height: auto;
	z-index: 10;
	box-shadow:0 0 15px 0 rgba(82,88,85,0.3);
}
.login-user-info .person-list li {
	background: #FFFFFF;
	width: 100%;
	height: 50px;
	margin: 0;
	border: none !important;
	display: flex;
	justify-content: center;
	align-items: center;
}
.list-img {
	width: 16px;
	height: 16px;
	margin-right: 10px;
}
.list-font {
	font-size:14px;
	font-family:PingFang-SC-Regular;
	font-weight:400;
	color:rgba(51,51,51,1);
}
.login-user-box:hover .person-list {
	display: block;
}
.headset {
    width: 27px;
    height: 28px;
    margin-right: 10px;
	float: left;
}
.second-p {
    margin-left: 40px;
}
.login-zhuce {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #22BD7A;
	font-size: 14px;
}
.login-zhuce img {
	margin-right: 8px;
}
@media (max-width: 1500px) {
	.login-zhuce {
		font-size: 13px;
	}
	.login-font {
		font-size:13px;
	}
}